<div class="social">
    <a href="https://www.facebook.com/thehackingproject/?ref=br_rs" target="_blank">
        <img src="icons/fb.png" class="social-img"/>
    </a>
    <a href="https://www.instagram.com/the_hacking_project/" target="_blank">
        <img src="icons/ig.png" class="social-img"/>
    </a>
        <a href="https://www.linkedin.com/school/the_hacking_project/" target="_blank">
        <img src="icons/in.png" class="social-img"/>
    </a>
</div>
